/* PrivacyPolicy.css */

.privacy-policy {
  padding: 40px 15px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f9f9f9;
}

.container {
  width: 100%;
}

.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 20px;
}

.bg-cover {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.title {
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  color: #333;
}

.section {
  margin-bottom: 20px;
}

.highlight {
  color: #e46b09;
  font-weight: bold;
  margin-top: 10px;
}

p {
  margin: 0 0 10px;
  line-height: 1.6;
}
